{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Contests</h1>
  {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Registrations</th>
      <th>Start Time</th>
      <th>Length</th>
    </tr>
    <!-- Current Contests -->
    <tr>
      <td colspan="5"><h2>Current Contests</h2></td>
    </tr>
    {% for contest in curr_contests %}
    <tr>
      <td>{{ contest.id }}</td>
      <td><a href="{% url 'contests_show' contest.id %}">{{ contest.name }}</a></td>
      {% comment %} <td>{{ contest.name }}</td> {% endcomment %}
      <td>{{ contest.registrations }}</td>
      <td>{{ contest.start_time }}</td>
      <td>{{ contest.length }}</td>
    </tr>
     {% if is_timer %}
    <h1 div id="timer" data-end-time="{{  contest.start_time| date:'c' }}">00:00:00</h1>
    <script src="{% static 'js/timer.js' %}"></script>
    {% endif %}
    {% endfor %}
    <!-- Past Contests -->
    {% if not is_timer %}
      <tr>
        <td colspan="5"><h2>Past Contests</h2></td>
      </tr>
      {% for contest in past_contests %}
      <tr>
        <td>{{ contest.id }}</td>
        <td><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></td>
        <td>{{ contest.registrations }}</td>
        <td>{{ contest.start_time }}</td>
        <td>{{ contest.length }}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock %}