{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContestChamp</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="{% static 'css/phone.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>ContestChamp</h1>
        <nav id="navbar">
            <div id="logo">
                <img src="{% static 'assets/logo.png' %}" alt="ERR">
            </div>
            <ul>
                <li class="item"><a href="/" onclick="showSection('home')">Home</a></li>
                <li class="item"><a href="/register" onclick="showSection('register')">Register</a></li>
                <li class="item"><a href="/login" onclick="showSection('login')">Login</a></li>
                <li class="item"><a href="/contests" onclick="showSection('contests')">Contests</a></li>
                <li class="item"><a href="/problems" onclick="showSection('problemset')">Problemset</a></li>
                <li class="item"><a href="/ratings" onclick="showSection('ratings')">Ratings</a></li>
                <li class="item"><a href="/profile" onclick="showSection('profile')">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="blogs">
            <h2>Latest Blogs</h2>
            <div class="blog-post">
                <h3>Title of Blog Post</h3>
                <p>Summary of the blog post...</p>
                <a href="#">Read More</a>
            </div>
            <!-- Add more blog posts here -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 ContestChamp</p>
    </footer>
</body>

</html>