{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContestChamp</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>ContestChamp</h1>
        <nav id="navbar">
            <div id="logo">
                <img src="{% static 'assets/logo.png' %}" alt="ERR">
            </div>
            <ul>
                <li class="item"><a href="/" onclick="showSection('home')">Home</a></li>
                <li class="item"><a href="/login" onclick="showSection('login')">Login</a></li>
                <li class="item"><a href="/contests" onclick="showSection('contests')">Contests</a></li>
                <li class="item"><a href="/problems" onclick="showSection('problemset')">Problemset</a></li>
                <li class="item"><a href="/ratings" onclick="showSection('ratings')">Ratings</a></li>
                <li class="item"><a href="/profile" onclick="showSection('profile')">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="ratings">
            <h1 class="h-primary">Ratings</h1>
            <div id="ratings-content">
                <div id="main-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Number of Contests Participated in the contest</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>user1</td>
                                <td>10</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>user2</td>
                                <td>15</td>
                                <td>1600</td>
                            </tr>
                            <tr>
                                <td>user3</td>
                                <td>20</td>
                                <td>1700</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="side-content">
                    <div id="search-bar">
                        <input type="text" placeholder="Search User">
                    </div>
                    <div id="user-info">
                        <h2>Your Profile</h2>
                        <p><strong>Username:</strong> Mayank jha</p>
                        <p><strong>Rating:</strong> 1095</p>
                        <p><strong>Contribution:</strong> 0</p>
                    </div>
                    <div id="top-rated">
                        <h2>Top Rated</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ankit</td>
                                    <td>3757</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>rohit</td>
                                    <td>3647</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 ContestChamp</p>
    </footer>
</body>

</html>